#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.model-container{
  width: 30%;
  height: 30%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.closeBtn{
 font-weight: bolder;
 cursor: pointer;
 margin-left: 0.5rem;
}